*{
    background-color: rgb(199, 159, 110);
    color: black;
}

nav{
    background-color: rgb(134, 106, 71);
    padding: 10px 0;/*espaçamento interno*/
}
nav ul{
    list-style-type: none;/*remove a marcação da lista*/
    margin: 0;
    padding: 0;
    display: flex;/*faz a lista ficar lado a lado(horizintal)*/
    justify-content: center;/*centraliza  (horizontal)*/
}
nav ul li{
    margin: 0 15px;/*espaçamento entre os itens*/
}
nav ul li a{
    color: black;
    text-decoration: none;/*remove o sublinhado*/
    font-size: 18px;
    transition: color 0.3s;/*transição suave para a mudança de cor*/
}
nav ul li a:hover{
    color: rgba(114, 185, 185, 0.67);/*Cor do texto ao passar o mouse*/
}

h1{
    text-align: center;
}
.Inicio{
    text-align: center;
    background-color: rgb(199, 159, 110);
}

.Produtos{
    background-color: rgba(114, 185, 185, 0.67);
}
.Produtos img{
    
    margin: 20px;
    width: 200px;
    height: 200px;
    border-radius: 360px;
}
.VidAudio {
    background-color: rgb(199, 159, 110);    
}
.Text{
    background-color: rgb(199, 159, 110);
}
footer{
    background-color: rgba(114, 185, 185, 0.67);
}